body {
    font-family:        sans-serif;
}

#main {
    position:           fixed;
    border:             2px;
    border-style:       solid;  
    display:            flex;
    justify-content:    center;
    width:              90%;
    height:             70%;
    margin-left:        5%;
    margin-right:       5%;
}

section.nav ul {
    border-radius:      5px;
    border:             1px solid #e5e5e5;
    background-image:   linear-gradient(to bottom, #f7f7f7 0%,#eee 100%); 
    list-style-type:    none;
    margin:             0;
    padding:            20;
    margin-bottom:      2.2cm;
}

table {
    display:            flex;
    justify-content:    center;
}

h2 {
    display:            flex;
    justify-content:    center;
}

h1 {
    display:            flex;
    justify-content:    center;
}

p {
    display:            flex;
    justify-content:    flex-end;
}

table tr.header {
    background-color:   lawngreen;
}
table th {
    display:            flex;
    padding:            10px;
}

table td, table tr {
    display:            flex;
    justify-content:    space-around;
    padding:            5px;
}

table tr {
    border:             1px solid black;    
}
section.nav ul li {
    display:            inline;
    padding:            15;
}

.buttonJumbo {
    border-width:       0px;
    background-color: #4CAF50;
    border-radius:      5px;
    font-size:          18px;
    font-weight:        400;
    color:              white;
    padding:            20px;
}

.buttonSmall {
    display:            flex;
    width:              75px;
    border-width:        0px;
    border-radius:      5px;
    padding:            10px;
    background-color: #007bff;;
    color:            white;
    font-size:          16px;
}

.jumbotron h1 {
    text-align:         center;
    font-size:          40px;
    font-weight:        400;
}

.jumbotron p {
    font-size:          20px;
    text-align:         justify;
}

.columns h2 {
    font-size:          30px;
    font-weight:        400;
}

.title h3 {
    color:              #868e96;
    font-family:        sans-serif;
    font-weight:        400;
    font-size:          26px;    
}

select {
    width:              75px;
}

section.nav .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  div.circle {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    position: absolute;
    top:    0px;
    left:   0px;
    border-style: solid;
    border-width: 2px;
  }